@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0b1217;
  color: #ffffff;
}

form {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-color: #142028;
  height: 3.75em;
  margin: 0;
  display: flex;
  align-content: center;
  position: relative;
  width: 100%;
}
.search-bar {
  padding: 0.4375rem 35px 0.4375rem 28px !important;
  font-size: 13px !important;
  line-height: 1.5 !important;
  color: #495057;
  border-radius: 50px !important;
  font-weight: 400 !important;
  background-color: #23323c !important;
  background-color: #e2e7ec !important;
  will-change: border-color, box-shadow !important;
  box-shadow: none !important;
  transition: box-shadow 0.25s cubic-bezier(0.27, 0.01, 0.38, 1.06),
    border 0.25s cubic-bezier(0.27, 0.01, 0.38, 1.06);
  text-overflow: ellipsis;
  height: 16px !important;
  width: 400px;
  margin: 20px;
}

.button {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  background-color: #49b31f;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 13px;
  width: 36px;
  border-radius: 50%;
  transition: 0.3s;
}
/* TABLE */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 340px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  background-color: #142028;
  border-radius: 1em;
  text-align: left;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #21313b;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #0f1920;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.button:hover {
  opacity: 0.6;
}

.error-msg {
  width: 100%;
  color: red;
}

.first-row {
  color: rgb(76, 175, 76);
}

h4 {
  margin: 10px 0;
  font-size: 16px;
}

.summary-wrap {
  display: flex;
  border-radius: 1rem;
  padding: 20px;
  background-color: #142028;
  margin-top: 10px;
  flex-direction: column;
}

.loading-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.subtitle {
  padding: 20px;
}

@media only screen and (max-width: 467px) {
  body {
    margin: 0;
  }
  table {
    padding: 5px;
  }

  .summary-wrap {
    padding: 5px;
  }

  .styled-table th,
  .styled-table td {
    padding: 5px 0px;
    width: 0px;
  }
}
